body {
  background: #309F6A;
}

.game-container {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.game-row {
  display: flex;
}

.board-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.board-row {
  display: flex;
  flex-direction: row;
  perspective: 600px;
}

.tile {
  border: 2px solid black;
  width: 70px;
  height: 70px;
  margin: 8px;
  position: relative;
  transition: transform .2s;
  transform-style: preserve-3d;
}

.tile.is-flipped {
  transform: rotateY(180deg);
}

.tile_face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.tile_front {
  background-image: url(images/blanktile.png);
  background-size: cover;
  background-position: center;
}

.tile_back {
  background: #BC8C85;
  transform: rotateY(180deg);
  color: black;
  font-size: 45px;
  -webkit-text-stroke: 1px white;
  text-align: center; 
  line-height: 70px;
  font-family: "Arial Black";
}

.tile_back_bomb {
  background-image: url(images/voltorb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.tile_back_1:after {
  content: "1";
}

.tile_back_2:after {
  content: "2";
}

.tile_back_3:after {
  content: "3";
}

.tile:before {
  background: none;
  border: 4px solid #D1E8E0;
  border-radius: 4px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

.info {
  border: 4px solid #D1E8E0;
  border-radius: 4px;
  width: 74px;
  height: 74px;
  display: flex;
  flex-direction: column;
}

.info_rows .info {
  margin: 4px 0px 8px 8px;
}

.info_cols .info {
  margin: 4px 4px 0px 4px;
  float: left;
}

.info-1 {
  background-color: #DE7055;
}

.info-2 {
  background-color: #45A746;
}

.info-3 {
  background-color: #E69F43;
}

.info-4 {
  background-color: #3792F5;
}

.info-5 {
  background-color: #BF65DD;
}

.info_points {
  flex: 2;
  text-align: right;
  padding-right: 3px;
  color: black;
  margin-top: -10px;
  margin-bottom: -8px;
  font-family: "Arial Black";
  font-size: 30px;
}

.info_bombs {
  flex: 3;
  border-top: 4px solid #D1E8E0;
  background-image: url(images/voltorb.png);
  background-repeat: no-repeat;
  background-position: 3px;
  background-size: 55%;
  color: black;
  font-size: 30px;
  padding-right: 3px;
  text-align: right;
  font-family: "Arial Black";
}

.game-message {
  border: 4px solid #D1E8E0;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 60px 30px;
  transform: translate(-50%, -50%);
  background-color: #F8F8F8;
  z-index: 1;
}

.game-message:before {
  background: none;
  border: 2px solid black;
  border-radius: 6px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.score-container {
  width: 50%;
  margin: auto;
  display: flex;
}

 .level-container, .total-coins, .current-coins {
  padding: 5px;
  border: 2px solid #D1E8E0;
  border-radius: 4px;
  background-color: #F8F8F8;
  margin: 5px 15px;
  font-size: 20px;
  /* position: relative; */
}

/* .level-container:before, .total-coins:before, .current-coins:before {
  background: none;
  border: 2px solid black;
  border-radius: 6px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  pointer-events: none;
} */

.level-container {
  margin-left: 25px;
}

.total-coins {

}

.current-coins {

}