body {
  background: #309F6A;
}

.board-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.board-row {
  display: flex;
  flex-direction: row;
  perspective: 600px;
}

.tile {
  border: 2px solid black;
  /* background-image: url(blanktile.png);
  background-size: cover;
  background-position: center; */
  width: 70px;
  height: 70px;
  margin: 8px;
  position: relative;
  transition: transform .2s;
  transform-style: preserve-3d;
}

.tile.is-flipped {
  transform: rotateY(180deg);
}

.tile_face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px; */
  backface-visibility: hidden;
}

.tile_front {
  background-image: url(blanktile.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.tile_back {
  background: #BC8C85;
  transform: rotateY(180deg);
  color: black;
  font-size: 45px;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  -webkit-text-stroke: 1px white;
  text-align: center; 
  line-height: 70px;
  font-family: "Arial Black";
}

.tile_back_bomb {
  background-image: url(voltorb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.tile_back_1:after {
  content: "1";
}

.tile_back_2:after {
  content: "2";
}

.tile_back_3:after {
  content: "3";
}

.tile:before {
  background: none;
  border: 4px solid #D1E8E0;
  border-radius: 4px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  pointer-events: none;
}