// Screen Sizes
$breakpoint-mobile: 475px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1440px;

// Add other variables here
$red: #ff4231;
$yellow: #ffd740;
$dark-green: #207f61;
$light-green: #309f6a;
$border-color: #d1e8e0;
$tile-color: #bc8c85;

$info-red: #de7055;
$info-green: #45a746;
$info-orange: #e69f43;
$info-blue: #3792f5;
$info-purple: #bf65dd;
