// Screen Sizes
$breakpoint-mobile: 475px;
$breakpoint-tablet: 768px;
$breakpoint-medium: 900px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1440px;

// Add other variables here
$dark-red: #6b3129;
$yellow: #ffd740;
$light-green: #309f6a;
$dark-green: #188463;
$tile-color: #bc8c85;
$border-color: #d1e8e0;
$border-red: #ff4231;
$border-yellow: #ffbd31;
$border-brown: #7b5a21;
$border-black: #303030;

$info-red: #de7055;
$info-green: #45a746;
$info-orange: #e69f43;
$info-blue: #3792f5;
$info-purple: #bf65dd;

$background-green: #29a56b;
$memo-dark: #c67352;
$memo-light: #ef9c84;
$memo-text: #639463;
$memo-gray: #8cadad;
